<% provide(:title, "Contact") %>
<h1 class="title">Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
  <br>
  <%= link_to 'Home', static_p_ages_home_path %> 
</p>
