<% provide(:title, "Contact") %>
  <body>
    <section class="hero is-bold gradient  is-fullheight">
      <%= render 'layouts/header'%>
      <div class="hero-body">
        <div class="container">
          <h1 class="title text-c">
            Contact
          </h1>
          <h2 class="subtitle text-c">
            Contact the Ruby on Rails Tutorial about the sample app at the
            <a href="https://www.railstutorial.org/contact">contact page</a>.    
          </h2>          
        </div>        
      </div>   
      <%= render 'layouts/footer'%>  
    </section>    
  </body>