<% provide(:title, 'Sign up') %>
<body>
    <section class="hero is-bold gradient  is-fullheight">
      <%= render 'layouts/header'%>
      <div class="hero-body">
        <div class="container">
          <h1 class="title text-c">
            Sign up!
          </h1>
          <h2 class="subtitle text-c">
            This will be a signup page for new users.
          </h2>        
        </div>        
      </div>   
      <%= render 'layouts/footer'%>  
    </section>    
  </body>

<p>Find me in app/views/users/new.html.erb</p>
