
<nav class="navbar is-black hero-foot" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item">
      The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </p>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "About", about_path, class: "navbar-item hov" %>
      <%= link_to "Contact", contact_path, class: "navbar-item hov" %>
      <a class="navbar-item" href="http://news.railstutorial.org/">News</a>   
    </div>
  </div>
</nav>
