
<nav class="navbar is-black hero-head" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Sample APP", root_path, class: "navbar-item is-size-5 has-text-weight-bold" %>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Home", root_path, class: "navbar-item" %>
      <%= link_to "Help", help_path, class: "navbar-item" %>
      <%# <%= link_to "Log-in", root_path, class: "navbar-item" %>    
    </div>
  </div>
</nav>
